@import "../../abstracts/abstracts";

/*---------------------
post index images-------*/

 .wp-block-image figcaption{
	font-size: .8em;
	color: #505050;
	font-style: italic;
}

 .post .wp-block-image a{
	border-bottom: none;
}

 .post a.post-thumbnail{
	display:block;
	border: none;
}

 .post .post-thumbnail img{
	max-height: 700px;
	object-fit: cover;
}

 .hfeed .post-thumbnail img{
	 max-height: 500px;
 }

 .post a.post-thumbnail{
	@include clearfix();
}

 .post:not(:nth-child(3n)) .wp-block-image img,
 .post:not(:nth-child(3n)) a.post-thumbnail img{
	padding: .75rem;
	background: #fff;
}