@import "../../abstracts/abstracts";

/*---------------------
post index images-------*/

.hfeed .wp-block-image figcaption{
	font-size: .8em;
	color: #505050;
	font-style: italic;
}

.hfeed .post .wp-block-image a{
	border-bottom: none;
}

.hfeed .post a.post-thumbnail{
	display:block;
	border: none;
}

.hfeed .post a.post-thumbnail img{
	max-height: 500px;
	object-fit: cover;
}

.hfeed .post a.post-thumbnail{
	@include clearfix();
}

.hfeed .post:nth-child(even) a.post-thumbnail img{
	display: block;
	float: right;
}

.hfeed .post:not(:nth-child(3n)) .wp-block-image img,
.hfeed .post:not(:nth-child(3n)) a.post-thumbnail img{
	padding: .75rem;
	background: #fff;
}