@import '../../abstracts/abstracts';

/*----------------------
entry header, entry-content and layout------*/

/* Post Header */

 .entry-header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: .5rem 0;
}

 h2{
	flex: 2 0;
}

 .post h2.entry-title a{
	border-bottom: none;
}

 .entry-meta{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Khula', sans-serif;
	flex: 0 0 100%;
}

@media all and ( min-width: 950px ){
	 .entry-meta{
		flex: 1 0;
		justify-content: flex-end;
	}
}

 .posted-on,
 .byline{
	position: relative;
	display: block;
}

 .posted-on,
 .byline{
	@include skewX();
}

 .posted-on{
	margin: 0 .5rem 0 0;
}

 .post .posted-on a,
 .post .byline a{
	border-bottom: none;
	display: block;
	padding: 8px;
	font-weight: bold;
	font-size: 1.2em;
}

.page .site-main{
	background: $color__greencal2;
}

/* Layout */

 .post .post-thumbnail,
 .post .entry-header,
 .post .entry-content,
 .post .entry-footer,
 .type-page .post-thumbnail,
 .type-page .entry-header,
 .type-page .entry-content,
 .type-page .entry-footer{
	margin: 0 auto;
}

@media all and ( min-width: 800px ){
	 .post .post-thumbnail,
	 .post .entry-header,
	 .post .entry-content,
	 .post .entry-footer,
	 .type-page .post-thumbnail,
	 .type-page .entry-header,
	 .type-page .entry-content,
	 .type-page .entry-footer{
		width: 70%;
	}
}