@import '../../abstracts/abstracts';

/*----------------------
entry header, entry-content and layout------*/

/* Post Header */

.hfeed .entry-header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: .5rem 0;
}

.hfeed h2{
	flex: 2 0;
}

.hfeed .post h2.entry-title a{
	border-bottom: none;
}

.hfeed .entry-meta{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Khula', sans-serif;
	flex: 0 0 100%;
}

@media all and ( min-width: 950px ){
	.hfeed .entry-meta{
		flex: 1 0;
		justify-content: flex-end;
	}
}

.hfeed .posted-on,
.hfeed .byline{
	position: relative;
	display: block;
}

.hfeed .posted-on,
.hfeed .byline{
	/*position: absolute;
	bottom: 0;
	left: 0;
	content: '';*/
	transform: skewX(-5deg);
	transform-origin: bottom left;
}

.hfeed .posted-on{
	margin: 0 .5rem 0 0;
}

.hfeed .post .posted-on a,
.hfeed .post .byline a{
	border-bottom: none;
	display: block;
	padding: 8px;
	font-weight: bold;
	font-size: 1.2em;
}

/* Layout */

.hfeed .post a.post-thumbnail,
.hfeed .post .entry-header,
.hfeed .post .entry-content,
.hfeed .post .entry-footer{
	margin: 0 auto;
}

@media all and ( min-width: 800px ){
	.hfeed .post a.post-thumbnail,
	.hfeed .post .entry-header,
	.hfeed .post .entry-content,
	.hfeed .post .entry-footer{
		width: 70%;
	}
}