@import "../../abstracts/abstracts";

/*------------------
Post Container
-------------------*/

body{
	background: $color__greencal2;
}

.post,
.type-page{
	@include slant-spacing();
	position: relative;
	margin: 0;
	transform: skewY(3deg);
	transform-origin: bottom left;
}

.post > *,
.type-page > * {
	transform: skewY(-3deg);
}

@media all and ( min-width: 800px ){
	.post{
		padding: 90px 1rem 70px;
	}
}
/*
 .post{
	padding: 90px 1rem;
	position: relative;
	margin: 0;
	transform: skewY(3deg);
	transform-origin: bottom left;
}

 .post > * {
	transform: skewY(-3deg);
}

@media all and ( min-width: 800px ){
	 .post{
		padding: 90px 1rem 70px;
	}
}

 .post::after{
	position: absolute;
	background-color: inherit;
	height: 70px;
	width: 100%;
	transform: skewY(3deg);
	content:'';
	left: 0;
	bottom: 0;
	transform-origin: bottom left;
}

 .post::after{
	bottom: 0;
	z-index: 1;
}
*/