@import "../../../abstracts/abstracts";

.featured-hero{
	position: relative;
	min-height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 1rem;
}

$figure-top: 5vh;
@function figure_height( $top, $height ){
	@return $height - $top;
}

.featured-hero .hero-content{
	background-repeat: no-repeat;
	width: 90%;
	margin: 60 80px;

	h2, 
	p,
	.kite-cta-text{
		color: #000;
		font-family: $font__special;
		color: $color__greencal1;
		padding: 5px;
		margin: 2rem 0;
		position: relative;
		background: rgba(250,254,252,.8);
		background: $color__white;
	}

	h2{
		font-family: $font__secondary;
	}

	.kite-cta{
		border-bottom: none;
		display: block;
		/*transform: skewY(5deg);
		transform-origin: top left;*/
	}

	.kite-cta-text{
		@include link-style( $color__greencal1 );

		&:hover{
			background: $color__greencal1;
			color: $color__white
		}
	}
	/*
	p:after,
	h2:after{
		@include afterblocks();
		left: 60%
	}

	p:before,
	h2:before{
		@include afterblocks();
		left: 40%;
	}
	*/
}


@media all and (min-width: 600px){
	.featured-hero{
		padding: 5rem;
	}

	.featured-hero .hero-content{
		width: 60%
	}
}

@media all and (min-width: 1024px){
	.featured-hero .hero-content{
		width: 40%;
		padding: 1.5rem;
	}
}