    @import "../../../abstracts/abstracts";
    
    .single .post{
       background: $color__white;
   }

    .single .post::after{
       box-shadow: 0px 8px $color__greencal2; 
   }

    .single .post{
       color: #404040;
   }

    .single .site-main a{
       @include link-style( $color__greencal1 );
   }

    .single .post .posted-on a,
    .single .post .byline a{
       border: 2px solid $color__greencal4;
       color: $color__white;
       background: $color__greencal1;
   }

    .single .post .posted-on a:hover,
    .single .post .byline a:hover,
    .single .post .byline a:focus,
    .single .post .posted-on a:focus{
       background: $color__white;
       color: $color__greencal1;
       border: 2px solid $color__greencal1;
   }

   .single .post{
       margin-bottom: calc( .052 * 100% );
   }

   .kite-graphic{
       position: absolute;
       bottom: 75px;
       left: calc( 50% - 25px );
       width: 50px;
       transition: transform .5s;
       animation: 5s figure-eight linear 0s infinite
   }

   .kite-graphic.point-left{
       transform: rotate(-90deg);
       animation: none;
   }

   .kite-graphic.point-right{
       transform: rotate(80deg);
       animation: none;
   }
   
   /*
   @keyframes figure-eight{

        @include kite-frame( 6, 80, 20, 2 );

       12%{
           bottom: 85px;
           left: calc( 50% - 10px);
           transform: rotate( 5deg );
       }

       @include kite-frame( 18, 80, 5, 7 );

       25%{
           bottom: 75px;
           left: 50%;
           transform: rotate( 8deg );
       }

       @include kite-frame( 31, 70, 5, 7 );

       37%{
           bottom: 65px;
           left: calc( 50% - 10px);
           transform: rotate( 5deg );
       }

       @include kite-frame( 43, 70, 20, 2 );

       50%{
           bottom: 75px;
           left: calc( 50% - 25px );
           transform: none;
       }

       @include kite-frame( 56, 80, 30, -2 );

       62%{
           bottom: 85px;
           left: calc( 50% - 40px );
           transform: rotate(-5deg)
       }

       @include kite-frame( 68, 80, 45, -7 );

       75%{
           bottom: 75px;
           left: calc( 50% - 50px );
           transform: rotate( -8deg );
       }
       @include kite-frame( 81, 70, 45, -7 );

       87%{
           bottom: 65px;
           left: calc( 50% - 40px );
           transform: rotate( -5deg );
       }

       @include kite-frame( 93, 70, 30, -2 );

   }*/