@import "../../abstracts/abstracts";

.site-footer{
    padding: 10px 1rem;
    background: $color__white;

    &.plus-margin-top{
        margin-top: calc( 100% / 14 );
    }
}

.site-footer .footer-row:first-child{
    border-top: 1px dotted #777;
    padding: 10px 0 0 0;
}

.site-footer .footer-row{
    display: flex;
    flex-flow: row wrap;
}

.footer-row .content-block{
    flex: 1 0;
    text-align: center;
}

.jetpack-social-navigation a{
    font-size: 2em;
}

.copyright{
    padding: .5em 0 0 0;
    font-family: $font__secondary;
}

.site-footer a{
    @include link-style( $color__greencal1 );
}