// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin center-block-width( $width ){
	@include center-block();
	width: $width;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin attn-btn( $border, $color, $background ){
	border: 2px solid $border;
	color: $color;
	background: $background;
}

@mixin skewX(){
	transform: skewX(-5deg);
	transform-origin: bottom left;
}

@mixin skewY( $deg ){
	transform: skewY( $deg );
	transform-origin: bottom left;
}

@mixin slant-spacing(){
	padding: 90px 1rem;
}

//post styles ( index view )
@mixin indexpost( $int, $bg, $color, $link, $accent, $metaborder, $blockquotecolor, $blockcodecolor, $whitebg: false ){
	 .post:nth-child(#{$int}){
		background: $bg;
	}

	.post:nth-child(#{$int}){
		border-bottom: 8px solid $accent;
	}

	 .post:nth-child(#{$int})::after{
		box-shadow: 0px 8px $accent; 
	}

	 .post:nth-child(#{$int}){
		color: $color;
	}

	 .post:nth-child(#{$int}) a{
		color: $link;
		border-bottom: 2px solid $link;
	}

	 .post:nth-child(#{$int}) .posted-on,
	 .post:nth-child(#{$int}) .byline{
		
	}

	 .post:nth-child(#{$int}) .posted-on a,
	 .post:nth-child(#{$int}) .byline a{
		@if $whitebg{
			@include attn-btn( $metaborder, $bg, $link );
		} @else {
			@include attn-btn( $metaborder, $bg, $accent );
		}
		/*
		border: 2px solid $metaborder;
		color: $bg;
		background: $accent;
		@if $whitebg{
			background: $link;
		}
		*/
	}

	 .post:nth-child(#{$int}) .posted-on a:hover,
	 .post:nth-child(#{$int}) .byline a:hover,
	 .post:nth-child(#{$int}) .byline a:focus,
	 .post:nth-child(#{$int}) .posted-on a:focus{
		@if $whitebg{
			@include attn-btn( $link, $link, $bg );
		} @else {
			@include attn-btn( $accent, $accent, $bg );
		}
		/*
		background: $bg;
		color: $accent;
		border: 2px solid $accent;
		@if $whitebg{
			color: $link;
			border: 2px solid $link;
		}
		*/
	}

	//Blocks
	.hfeed .post:nth-child(#{$int}) .wp-block-quote{
		/*border: 2px solid $metaborder;*/
		background: $blockcodecolor;
		/*
		a{
			@include link-style( $bg );
		}*/
	}

	.hfeed .post:nth-child(#{$int}) .wp-block-code{
		background: $blockcodecolor;
	}

}

//clearfix
@mixin clearfix(){
	&:after{
		clear: both;
		content: '';
		display: table;
	}
}

@mixin pseudo-ele(){
	position: absolute;
	content: "";
}

@mixin link-style( $color ){
	color: $color;
    border-bottom: 2px solid $color;
}

@mixin kite-frame( $per, $bottom, $left, $deg){
	#{$per}%{
		bottom: #{$bottom}px;
		left: calc( 50% - #{$left}px);
		transform: rotate( #{$deg}deg );
	}
}

@import "featured-mixins/featured";

@import "bubble-mixins/bubbles";