// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin center-block-width( $width ){
	@include center-block();
	width: $width;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin attn-btn( $border, $color, $background ){
	border: 2px solid $border;
	color: $color;
	background: $background;
}

@mixin skewX(){
	transform: skewX(-5deg);
	transform-origin: bottom left;
}

@mixin skewY( $deg ){
	transform: skewY( $deg );
	transform-origin: bottom left;
}

@mixin slant-spacing(){
	padding: 90px 1rem;
}

//post styles ( index view )
@mixin indexpost( $int, $bg, $color, $link, $accent, $metaborder, $blockquotecolor, $blockcodecolor, $whitebg: false ){
	 .post:nth-child(#{$int}){
		background: $bg;
	}

	.post:nth-child(#{$int}){
		border-bottom: 8px solid $accent;
	}

	 .post:nth-child(#{$int})::after{
		box-shadow: 0px 8px $accent; 
	}

	 .post:nth-child(#{$int}){
		color: $color;
	}

	 .post:nth-child(#{$int}) a{
		color: $link;
		border-bottom: 2px solid $link;
	}

	 .post:nth-child(#{$int}) .posted-on,
	 .post:nth-child(#{$int}) .byline{
		
	}

	 .post:nth-child(#{$int}) .posted-on a,
	 .post:nth-child(#{$int}) .byline a{
		@if $whitebg{
			@include attn-btn( $metaborder, $bg, $link );
		} @else {
			@include attn-btn( $metaborder, $bg, $accent );
		}
		/*
		border: 2px solid $metaborder;
		color: $bg;
		background: $accent;
		@if $whitebg{
			background: $link;
		}
		*/
	}

	 .post:nth-child(#{$int}) .posted-on a:hover,
	 .post:nth-child(#{$int}) .byline a:hover,
	 .post:nth-child(#{$int}) .byline a:focus,
	 .post:nth-child(#{$int}) .posted-on a:focus{
		@if $whitebg{
			@include attn-btn( $link, $link, $bg );
		} @else {
			@include attn-btn( $accent, $accent, $bg );
		}
		/*
		background: $bg;
		color: $accent;
		border: 2px solid $accent;
		@if $whitebg{
			color: $link;
			border: 2px solid $link;
		}
		*/
	}

	//Blocks
	.hfeed .post:nth-child(#{$int}) .wp-block-quote{
		/*border: 2px solid $metaborder;*/
		background: $blockcodecolor;
		/*
		a{
			@include link-style( $bg );
		}*/
	}

	.hfeed .post:nth-child(#{$int}) .wp-block-code{
		background: $blockcodecolor;
	}

}

//clearfix
@mixin clearfix(){
	&:after{
		clear: both;
		content: '';
		display: table;
	}
}

@mixin pseudo-ele(){
	position: absolute;
	content: "";
}

@mixin link-style( $color ){
	color: $color;
    border-bottom: 2px solid $color;
}

@mixin kite-frame( $per, $bottom, $left, $deg){
	#{$per}%{
		bottom: #{$bottom}px;
		left: $left;
		transform: rotate( #{$deg}deg );
	}
}

@mixin kite-animation( $baseX, $baseY, $name ){
	@keyframes #{$name}{
		@include kite-frame( 0, $baseY, $baseX + 0px, 0);
		@include kite-frame( 6, $baseY + 5, $baseX + 5px, 2 );
		@include kite-frame( 12, $baseY + 10, $baseX + 15px, 5 );
		@include kite-frame( 18, $baseY + 5,  $baseX + 20px, 7 );
		@include kite-frame( 25, $baseY,  $baseX + 25px, 8 );
		@include kite-frame( 31, $baseY - 5,  $baseX + 20px, 7 );
		@include kite-frame( 37, $baseY - 10,  $baseX + 15px, 5 );
		@include kite-frame( 43, $baseY - 5,  $baseX + 5px, 2 );
		@include kite-frame( 50, $baseY,  $baseX + 0px, 0 );
		@include kite-frame( 56, $baseY + 5,  $baseX - 5px, -2 );
		@include kite-frame( 62, $baseY + 10,  $baseX - 15px, -5 );
		@include kite-frame( 68, $baseY + 5, $baseX - 20px, -7 );
		@include kite-frame( 75, $baseY, $baseX - 25px, -8 );
		@include kite-frame( 81, $baseY - 5, $baseX - 20px, -7 );
		@include kite-frame( 87, $baseY - 10, $baseX - 15px, -5 );
		@include kite-frame( 94, $baseY - 5, $baseX - 5px, -2 );
		@include kite-frame( 100, $baseY, $baseX + 0px, 0);
	}
}
/*
@keyframes figure-eight{

	@include kite-frame( 6, 80, 20, 2 );

   12%{
	   bottom: 85px;
	   left: calc( 50% - 10px);
	   transform: rotate( 5deg );
   }

   @include kite-frame( 18, 80, 5, 7 );

   25%{
	   bottom: 75px;
	   left: 50%;
	   transform: rotate( 8deg );
   }

   @include kite-frame( 31, 70, 5, 7 );

   37%{
	   bottom: 65px;
	   left: calc( 50% - 10px);
	   transform: rotate( 5deg );
   }

   @include kite-frame( 43, 70, 20, 2 );

   50%{
	   bottom: 75px;
	   left: calc( 50% - 25px );
	   transform: none;
   }

   @include kite-frame( 56, 80, 30, -2 );

   62%{
	   bottom: 85px;
	   left: calc( 50% - 40px );
	   transform: rotate(-5deg)
   }

   @include kite-frame( 68, 80, 45, -7 );

   75%{
	   bottom: 75px;
	  left: calc( 50% - 50px );
	   transform: rotate( -8deg );
   }
   @include kite-frame( 81, 70, 45, -7 );

   87%{
	   bottom: 65px;
	  ;eft: calc( 50% - 40px );
	   transform: rotate( -5deg );
   }

   @include kite-frame( 93, 70, 30, -2 );

}
*/
@import "featured-mixins/featured";

@import "bubble-mixins/bubbles";