$color__greencal1: #10b66f;
$color__greencal2: #f0fff9;
$color__greencal3: #0c9e65;
$color__greencal4: #63efa3;
$color__white: #fff;
$color__green3: #3aa346;
$color__greencal5: #e0ffe8;
$color__offwhite: #fafefc;
$color__barelygreen: #fafffc;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: $color__greencal3; 
$color__link-hover: $color__greencal3; 
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;